@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");

/*
---- PALETA DE COLORES ----
3ec78c verde oscurito
45ce86 verde clarito
e63946 rojo
a8dadc azul cielo
457b9d azul cielo pero mas oscuro
1d3557 azul oscuro
*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  font-family: "Kanit", sans-serif;

}
#login {

  width: 50%;
  text-align: center;
  margin: auto;
  margin: 50px auto ;
}

#textoLogin{
  width: 50%;
  text-align: center;

  margin: 50px auto ;

}
#textoLogin h3 {
  width: 50%;
  text-align: center;
  margin: 200px auto ;

}
#sign_in {
  width: 50%;
  text-align: center;
  margin: auto;
}

#loginBody {
  display: inline-block;
  margin: auto;
  text-align: center;
  font-family: "Kanit", sans-serif;
}

#cotenidoIndex {
  margin: auto;
  
}


nav img {
  height: 120px;
  float: left;
  margin-bottom: 2px;
  margin-left: 1%;
  margin-right: 2%;
}
/*Menú nav*/



/*MAIN*/
main {
  margin: 1% auto auto auto;
  
}


#titulo {
  text-align: center;
  margin-top: 5%;
  margin-top: 15%;
  font-family: super_mario_bros;

  margin-top: 20px;
  color: rgb(red, green, blue);
}
/*
amistades
*/
/* Estilos generales para el contenedor de amistades */
.amistades-container {
  max-width: 400px;
  margin: 100px auto 20px auto; /* Cambia el margen superior a 100px */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Título */
.amistades-container h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
}

/* Lista de amistades */
.amistades-container ul {
  list-style-type: none;
  padding: 0;
}

.amistades-container li {
  background-color: #e0f7fa;
  color: #00796b;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 16px;
}

/* Mensaje si no hay amistades */
.amistades-container p {
  font-size: 16px;
  color: #777;
}

/*Footer
*/
header{
 width: 100%;
 height: 150px;
  position: fixed;
  top: 2px;
  text-align: center;
  z-index: 3;
}
footer {

 
 
  background-color: #dad9d9;
}
