@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

/*
---- PALETA DE COLORES ----
3ec78c verde oscurito
45ce86 verde clarito
e63946 rojo
a8dadc azul cielo
457b9d azul cielo pero mas oscuro
1d3557 azul oscuro
*/


* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-size: 30px;
}
body{
    min-width: 700px;
	max-width: 1400px;
    margin: auto;
    font-family: 'Kanit', sans-serif;
}

.titulo_h1{
    font-size: 2em;
    text-align: center;
    color: #1d3557;
}
.titulo_h3{
    font-size: 1em;
    text-align: center;
    color: #1d3557;
}
/*Hace que haya un espacio entre una sección y otra*/
.separador{
    padding-bottom: 8%;
    border-bottom: 1px solid #1d3557;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    
}
.texto_seccion{
    text-align: center;
    font-size: 28px;
}

/*-----------------HEADER-----------------*/
header{   
    background-color: #1d3557;
    height: 150px;
    border: 2px solid #1d3557;
    border-top: 0px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 1px 5px 15px rgb(161, 161, 161);
    
}
header div{
    height: 100%;
    width: 100%;

}
header img{
    height: 120px;
    float: left;
    margin-bottom: 2px;
    margin-left: 1%;
    margin-right: 2%;
}
/*Menú nav*/

header div nav ul li{
    display: inline-block;
    margin: 50px 5px 5px 5px;      
    border: 0px solid ;   
    padding: 3px;
    color: white;
    
}
header div nav ul li a{  
    color: white;
    
}
header div nav ul li:hover{
    background-color: #3ec78c;
    border-bottom: 2px solid #0083D7;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 5px 15px rgb(161, 161, 161);
    color: whitesmoke;

;
    
}

/*MAIN*/
main{  
    margin: 1% auto auto auto;
    
}


/* -----------------BANNER-----------------*/
.banner{
    background-image: url(../img/server.png);
    width: 100%;
    margin-bottom: 30px;
    
    
}
.texto_banner{
    text-align: center;
    color: white;
    text-shadow: 2px 4px 9px #1d3557;
    padding-bottom: 20px;
    
}
.texto_banner h1{   
    text-shadow: 2px 4px 4px #ffffff;
}

.texto_banner p{
    margin-bottom: 15px;
}

.texto_banner ul li{
    padding-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 4px 9px #000000;
}


/*FOOTER*/
footer{
    padding-top: 15px;
    color: white;
    text-align: center;
    margin: 1% 0% 0% 0%;
    background-color:#1d3557;
    height: auto;
    border-radius: 25px 25px 0px 0px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 10px;

    
}
/*Titulo columnas*/
footer h3{
    font-size: 20px;
    margin-bottom: 10px;
}

footer ul li{   
    font-size: 20px;  
}

footer ul:nth-child(7) li{
    display: inline-block;

}
footer ul:nth-child(2) li img{
    text-align: left;
    margin-right: 10px;
    margin-bottom: -10px;

}
footer ul li a{
    font-size: 20px;  
    color: white;
}

/*Icónos*/
footer ul li img{
    width: 40px;
    height: 40px;
}

/*Copyright*/
footer ul:last-child{
    margin-top: 50px;
    font-size: 20px;
}
